@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../Components/Header/Header.scss" as *;

// body {
//   position: relative;
// }

.cart {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding-top: 10rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  z-index: 2;
  display: flex;
  justify-content: flex-end;

  @include tablet-small {
    padding-right: 3rem;
  }

  @include tablet-medium {
    padding-right: 4.5rem;
  }

  @include tablet-large {
    padding-right: 6rem;
  }

  @include desktop-small {
    padding-right: 15rem;
  }

  @include desktop-large {
    padding-right: 20rem;
    padding-top: 11.2rem;
  }

  &__empty {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    text-align: center;
  }

  &__empty-image {
    height: 100px;
  }

  &__empty-title {
    font-size: 2rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
  }

  &__empty-text {
    font-size: 1.4rem;
  }

  &__container {
    background-color: white;
    border-radius: 4px;
    max-width: 375px;
    margin: 0 auto;
    height: fit-content;

    @include mobile-medium {
      max-width: 475px;
    }

    @include mobile-large {
      max-width: 550px;
    }

    @include tablet-small {
      width: 400px;
      margin: 0;
      height: fit-content;
    }

    @include desktop-large {
      width: 900px;
    }
  }
}
