@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.cart {
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 18%;
  right: 0%;
  background-color: black;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  &__container {
    background-color: white;
    border-radius: 4px;
  }
}
