@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body {
  position: relative;
}

.cart {
  width: 100%;
  position: absolute;
  top: 1.99%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  z-index: 10;

  &__container {
    background-color: white;
    border-radius: 4px;

    @include tablet-small {
      margin-left: 35rem;
    }

    @include tablet-medium {
      margin-left: 50rem;
    }
    @include tablet-large {
      margin-left: 75rem;
    }

    @include desktop-medium {
      margin-left: 80rem;
    }

    @include desktop-large {
      margin-left: 125rem;
    }
  }
}
