@font-face {
  font-family: "Manrope";
  src: url(../../assets/fonts/Manrope-Regular.ttf) format("truetype");
  font-weight: normal; /* Regular font weight */
}

@font-face {
  font-family: "Manrope";
  src: url(../../assets/fonts/Manrope-Medium.ttf) format("truetype");
  font-weight: 500; /* Medium font weight */
}

@font-face {
  font-family: "Manrope";
  src: url(../../assets/fonts/Manrope-Bold.ttf) format("truetype");
  font-weight: bold; /* Bold font weight */
}
