$orange: #d87d4a;
$black: #191919;
$medium-grey: #f1f1f1;
$light-grey: #fafafa;
$light-orange: #fbaf85;
$grey: #808080;
$white: #ffffff;
$dark-black: #000000;
$stoke-color: #282828;
$input-color: rgb(202, 202, 202);
$button-hover: #fbaf85;
$dark-button-hover: #4c4c4c;
