@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  height: 90vh;
  background-image: url(../../assets/home/mobile/image-header.jpg);
  //   background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom 100px;

  &__content {
    padding-top: 14rem;
    border-top: 1px solid #282828;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__product-box {
    text-align: center;
    text-transform: uppercase;
  }

  &__product-text {
    font-size: 1.4rem;
    color: $grey;
    letter-spacing: 14px;
    padding-left: 2rem;
  }

  &__title {
    text-align: center;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__product-description {
    text-align: center;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    color: $grey;
  }

  &__description-text {
    line-height: 2.5rem;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: $orange;
    border: none;
    // treat the button as a block level element
    display: block;
    height: 5rem;
    width: 40%;
  }

  &__button-text {
    text-transform: uppercase;
    color: $white;
    @include button-text;
  }
}
