@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.headphones-title {
  background-color: #191919;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 900;
  padding-bottom: 3rem;

  @include tablet-small {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 3.6rem;
  }

  @include desktop-small {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.headphones {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  @include mobile-large {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include tablet-small {
    padding-top: 20rem;
  }

  @include tablet-medium {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @include tablet-large {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @include desktop-small {
    gap: 10rem;
  }

  @include desktop-small {
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 15rem;
  }

  &__new-product {
    font-size: 2rem;
    text-align: center;
    color: $orange;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.4rem;

    @include tablet-medium {
      font-size: 1.6rem;
    }

    @include desktop-small {
      text-align: start;
    }
  }

  &__image-container {
    width: 100%;

    @include desktop-small {
      // height: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 30rem;
    border-radius: 4px;

    @include tablet-medium {
      height: 450px;
    }

    @include desktop-small {
      height: 90%;
    }
  }

  &__card-title {
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;

    @include tablet-small {
      padding-left: 20rem;
      padding-right: 20rem;
    }

    @include desktop-small {
      text-align: start;
      padding: 0;

      padding-bottom: 2rem;
      font-size: 4rem;
    }
  }

  &__para {
    font-size: 1.4rem;
    text-align: center;
    color: grey;
    padding-top: 2rem;

    @include mobile-large {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include tablet-small {
      padding-left: 9rem;
      padding-right: 9rem;
    }

    @include tablet-medium {
      padding-left: 20rem;
      padding-right: 20rem;
      font-size: 1.6rem;
    }

    @include tablet-large {
      padding-left: 28rem;
      padding-right: 28rem;
    }

    @include desktop-small {
      padding: 0;
      text-align: start;
      font-size: 1.5rem;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    @include desktop-small {
      justify-content: flex-start;
    }
  }

  &__button {
    background-color: $orange;
    border: none;
    justify-content: center;
    height: 4.5rem;
    font-size: 1.3rem;
    color: white;
    width: 60%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    @include mobile-large {
      width: 50%;
    }

    @include tablet-small {
      width: 25%;
      height: 5rem;
      font-size: 1.6rem;
    }

    @include tablet-medium {
      width: 20%;
      height: 6rem;
    }

    @include desktop-small {
      width: 40%;
    }
  }
}

.break {
  padding-left: 6rem;
  padding-right: 6rem;

  @include desktop-small {
    padding: 0;
    padding-bottom: 2rem;
  }
}

.headphones__card {
  @include desktop-small {
    display: flex;
    gap: 10rem;
  }
}

.headphones__text-container {
  @include desktop-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6rem;
    width: 90%;
  }
}

.reverse {
  @include desktop-small {
    display: flex;
    flex-direction: row-reverse;
    gap: 10rem;
  }
}
