@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.product__card {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include mobile-medium {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @include mobile-large {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include tablet-small {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

.product {
  &__img-container {
    width: 100%;
  }

  @include tablet-small {
    &__flex-container {
      display: flex;
      gap: 6rem;
      width: 100%;
    }
  }

  &__details-wrapper {
    width: 100%;

    @include tablet-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__img {
    width: 100%;
    height: 30rem;
    border-radius: 4px;
  }

  &__new-product {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    color: $orange;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1rem;

    @include tablet-small {
      padding-top: 4rem;
    }
  }

  &__title {
    padding-bottom: 1.6rem;
    font-size: 3rem;
    text-transform: uppercase;

    @include tablet-small {
      padding-bottom: 3rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    color: #808080;
    padding-bottom: 1.6rem;

    @include tablet-small {
      padding-bottom: 2.5rem;
      width: 100%;
    }
  }

  &__price {
    font-size: 1.29rem;
    padding-bottom: 1.6rem;

    @include tablet-small {
      padding-bottom: 2.5rem;
    }
  }

  &__controller-container {
    display: flex;
    width: 35%;
  }

  &__add-delete {
    display: flex;
    gap: 1.5rem;

    @include tablet-small {
      width: 80%;
    }
  }

  &__button {
    background-color: $orange;
    background-color: $orange;
    border: none;
    justify-content: center;
    height: 3.5rem;
    font-size: 1rem;
    width: 45%;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__delete {
    border: none;
    background-color: $light-grey;
    width: 100%;
  }

  &__number {
    display: flex;
    align-items: center;
    background-color: $light-grey;
    font-size: 1rem;
  }

  &__features-title {
    padding-top: 4rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 1.6rem;
    font-weight: 700;

    @include tablet-small {
      margin-top: 15rem;
    }
  }

  &__features-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: $grey;
  }

  &__features {
    line-height: 2.5rem;
  }

  &__quantity-title {
    padding-top: 7rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 700;

    @include tablet-small {
      font-size: 3.2rem;
    }
  }

  &__includes-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 8rem;
  }

  &__includes-container {
    display: flex;
    gap: 2rem;
  }

  &__quantity {
    color: $orange;
    font-size: 1.5rem;
  }

  &__item {
    font-size: 1.5rem;
    color: $grey;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet-small {
      display: flex;
      flex-direction: row;
    }
  }

  &__image-container {
    width: auto;
  }

  &__gallery-img {
    width: 100%;
    border-radius: 4px;
  }

  &__gallery-larger-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__includes-container {
    display: flex;
    flex-direction: column;

    @include tablet-small {
      flex-direction: row;
      gap: 20rem;
      align-items: baseline;
    }
  }

  &__inthebox {
    display: flex;
    gap: 2rem;
  }
}

// styling for 3rd image in product gallery

@include tablet-small {
  .large {
    height: 99.5%;
  }
}

.product__direction {
  border: none;
  font-size: 1.5rem;
  background-color: white;
  padding: 1.6rem 2rem 3rem;
  color: $grey;

  @include mobile-medium {
    padding-left: 2.5rem;
  }

  @include mobile-large {
    padding-left: 3rem;
  }

  @include tablet-small {
    padding-left: 3.5rem;
  }
}

// styling for main product image

.main {
  @include tablet-small {
    width: 100%;
    height: 120%;
  }
}
