@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.summary {
  &__calculations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__total,
  &__shipping,
  &__vat,
  &__grand-total {
    display: flex;
    justify-content: space-between;
  }

  &__total-title {
    color: $grey;
    text-transform: uppercase;
  }

  &__total-price {
    color: $black;
    font-weight: bold;
  }
}
