@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@include desktop-small {
  .header__nav {
    &-wrapper {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      font-size: 3rem;
      margin-right: 6rem;
    }

    &-item {
      color: white;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
