@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: black;
  margin-bottom: 7rem;
  display: flex;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: space-between;

  @include mobile-medium {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  @include mobile-large {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include tablet-small {
    &__tablet-wrapper {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  @include desktop-small {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  @include desktop-large {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  &__icon {
    font-size: 20px;
    color: white;

    @include desktop-small {
      display: none;
    }
  }

  &__title {
    color: white;
    font-size: 2rem;
    font-weight: 900;

    @include desktop-small {
      font-size: 3.2rem;
    }
  }

  &__cart-icon {
    font-size: 20px;
  }
}
