@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.product {
  &__related {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__related-title {
    text-transform: uppercase;
    text-align: center;
    padding-top: 8rem;
    font-size: 2rem;
  }

  &__related-name {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 0.2rem;
  }

  &__related-img-container {
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    border-radius: 4px;
  }

  &__related-button-container {
    display: flex;
    justify-content: center;
  }

  &__related-button {
    width: 45%;
    border: none;
    background-color: $orange;
    color: white;
    height: 4rem;
    font-size: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}
