.earphones-title {
  background-color: #191919;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 900;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .earphones-title {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 3.6rem;
  }
}
@media (min-width: 1366px) {
  .earphones-title {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.earphones {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
@media (min-width: 414px) {
  .earphones {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1024px) {
  .earphones {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .earphones {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 1366px) {
  .earphones {
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 15rem;
  }
}
.earphones__new-product {
  font-size: 2rem;
  text-align: center;
  color: #d87d4a;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.4rem;
}
@media (min-width: 1366px) {
  .earphones__new-product {
    text-align: start;
  }
}
@media (min-width: 1920px) {
  .earphones__new-product {
    font-size: 2rem;
  }
}
.earphones__image-container {
  width: 100%;
}
.earphones__img {
  width: 100%;
  height: 30rem;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .earphones__img {
    height: 356.59px;
  }
}
@media (min-width: 1024px) {
  .earphones__img {
    height: 477.16px;
  }
}
@media (min-width: 1366px) {
  .earphones__img {
    height: 100%;
  }
}
.earphones__card-title {
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .earphones__card-title {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
@media (min-width: 1366px) {
  .earphones__card-title {
    text-align: start;
    padding: 0;
    width: 50%;
    padding-bottom: 2rem;
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
.earphones__para {
  font-size: 1.4rem;
  text-align: center;
  color: grey;
  padding-top: 2rem;
}
@media (min-width: 414px) {
  .earphones__para {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .earphones__para {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
@media (min-width: 1024px) {
  .earphones__para {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
@media (min-width: 1280px) {
  .earphones__para {
    padding-left: 28rem;
    padding-right: 28rem;
  }
}
@media (min-width: 1366px) {
  .earphones__para {
    padding: 0;
    text-align: start;
    font-size: 1.5rem;
    width: 75%;
    line-height: 2.5rem;
  }
}
@media (min-width: 1920px) {
  .earphones__para {
    font-size: 2rem;
  }
}
.earphones__button-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
@media (min-width: 1366px) {
  .earphones__button-container {
    justify-content: flex-start;
  }
}
@media (min-width: 1920px) {
  .earphones__button-container {
    margin-top: 4rem;
  }
}
.earphones__button {
  background-color: #d87d4a;
  border: none;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
  width: 168px;
  height: 4.8rem;
  /* Additional button styles can be added here */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media (min-width: 414px) {
  .earphones__button {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .earphones__button {
    width: 25%;
    height: 5rem;
  }
}
@media (min-width: 1024px) {
  .earphones__button {
    width: 20%;
    height: 5rem;
  }
}
@media (min-width: 1366px) {
  .earphones__button {
    width: 30%;
  }
}
@media (min-width: 1920px) {
  .earphones__button {
    width: 20%;
  }
}

@media (min-width: 1366px) {
  .earphones__card {
    display: flex;
    gap: 10rem;
  }
}

@media (min-width: 1366px) {
  .earphones__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6rem;
  }
}/*# sourceMappingURL=EarPhonesCard.css.map */