@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body {
  position: relative;
  height: 100%; /* Ensure body takes up full viewport height */
  margin: 0; /* Remove default margin */
}

.nav__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100vw;
  height: 100%; /* Height set to 100% of the viewport height */
  top: 0; /* Position at the top of the viewport */
  left: 0;
  z-index: 97;
  box-sizing: border-box;
  padding-top: 9rem;
}

.nav {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $white;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  @include desktop-small {
    display: none;
  }

  @include mobile-medium {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  @include mobile-large {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include tablet-small {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  @include tablet-medium {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  @include tablet-large {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  &__list-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    max-width: 290px;
    margin: 0 auto;
    padding-top: 4rem;

    @include mobile-medium {
      max-width: 400px;
    }
    @include mobile-large {
      max-width: 500px;
    }

    @include tablet-small {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 800px;
      padding-top: 0;
      gap: 1rem;
    }

    @include tablet-medium {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 1100px;
      padding-top: 0;
      gap: 2rem;
    }

    @include tablet-large {
      max-width: 1300px;
      gap: 3rem;
    }

    @include desktop-large {
      max-width: 2000px;
    }
  }

  &__list-item {
    border-radius: 4px;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.5rem;
    position: relative;

    @include tablet-small {
      width: 100%;
    }
  }

  &__shop-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
  }

  &__orange-icon {
    height: 10px;
    width: 10px;
  }

  &__list-img {
    height: 100px;
    width: 100px;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 5rem;
  }

  &__list-title {
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__text {
    text-transform: uppercase;
    color: grey;
    @include button-text;
    font-weight: 700;
  }
}

.midNav {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 6rem;
  background-color: $white;

  padding-top: 1.6rem;
  max-width: 340px;
  margin: 0 auto;

  @include mobile-medium {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    max-width: 400px;
  }

  @include mobile-large {
    padding: 3rem;
    max-width: 500px;
  }

  @include tablet-small {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    max-width: 800px;
  }

  @include tablet-medium {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    max-width: 1100px;
  }

  @include tablet-large {
    padding-left: 6rem;
    padding-right: 6rem;
    max-width: 1300px;
  }

  @include desktop-small {
    padding-left: 15rem;
    padding-right: 15rem;
    max-width: 1600px;
  }

  @include desktop-large {
    padding-left: 20rem;
    padding-right: 20rem;
    max-width: 2000px;
  }
}

.midList-container {
  &__list-item {
    border-radius: 4px;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.5rem;
    position: relative;

    @include tablet-small {
      width: 100%;
    }
  }
}
